name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build the operator
      run: go build -v ./main.go
    
    - name: Build the kubeflow-launcher
      run: go build -v ./cli/main.go

    - name: Test
      run: go test -v ./...
